  <span class=""><strong><%= comment.user.slug %> : </strong></span>
  <span class=""><%= comment.body %></span>
  <span class="comment-date"><%= "#{comment.created_at}" %> </span>
  <% if current_user == comment.user %>
    <%= link_to "x", user_post_comment_path(current_user.slug, comment.post.id, comment.id), method: :delete %>
  <% end %>
<hr>

<style>

</style>