<div class="">
  <span class=""><strong><%= comment.user.slug %> : </strong></span>
  <span class=""><%= comment.body %></span>
  <p class=""><%= "작성시간 : #{comment.created_at}" %> </p>
  
  <% if current_user == comment.user %>
    <%= link_to "코멘트 삭제", user_post_comment_path(current_user.slug, comment.post.id, comment.id), method: :delete %>
  <% end %>
  <hr>
<div>

<style>
/* todo */
</style>