
<div>
  <h4>코멘트(<%= @post.comments.count %>)</h4>
  <hr>
  <% if user_signed_in? %>
    <% url, method = user_post_comments_path(current_user, @post), :post  %>
    <%= form_with(url: url, model: @post.comments.build) do |f| %>
        <%= f.label :"코멘트" %>
        <%= f.text_field :body, placeholder: "댓글을 작성해 주세요", class: "comment-text-field" %>
      <span>
        <button type="submit">등록</button>
      </span>
    <% end %>

  <% else %>
    로그인한 유저만 코멘트를 작성할 수 있습니다. 
  <% end %>
  
</div>

<style>
  .comment-text-field {
    width: 85%;
  }

</style>