<header class="sub-header">
  <h1> welcome! </h1>
</header>

<main>
  <h3>최신글 보기</h3>
  <ul>
    <% @posts.each do |post| %>
    <li><%= link_to "#{post.title} - #{post.user.slug}님의 블로그", user_post_path(user_slug: post.user.slug, id: post.id) %></li>
    <% end %>
  </ul>

</main>