<header class="sub-header">
  <h2> post index - 블로그 제목 들어감 </h2>
  <%= render 'page_header' %>
</header>

<nav>
  <%= render "users/profile", user: @user%>
</nav>

<main>
  <div class="profile">
    <% if @user.intro.present? %>
      <pre><%= @user.intro%></pre>
    <%else%>
      자기소개가 없습니다.
    <% end %>
  </div>

  <div class="user-posts-list">
    <% if @posts.present? %>
      <h4>최근 글 목록</h4>
        <% @posts.each do |post| %>
          <p><%= link_to post.title, user_post_path(user_slug: @user.slug, id: post.id) %></p>
        <% end %>
    <% else %>
      <div>
        등록된 글이 없습니다.
      </div>
    <% end %>
  </div>

</main>

<style>
  body {
    margin: 0;
    background-color: #fbfbfb;
    display: grid;
    grid-template-rows: 57px 80px auto 240px ;
    grid-template-columns: 1fr 5fr 1fr; 
    grid-template-areas: 
      "mainhd mainhd mainhd"
      "subhd subhd subhd"
      "nav main main"
      "nav main main" ;
  }
  main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "profile"
      "user-posts-list";
  }

  .profile {
    grid-area: "profile";
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 20px;
    margin: 10px;

  }

  .user-posts-list {
    grid-area: "user-posts-list";
    display: flex;
    justify-content: center;
    align-items: center;

  }


</style>