<header>
  <h1><%= @post.title %></h1>
  <div>최초 작성일자 : <%= @post.created_at %>, 마지막 수정일자 : <%= @post.updated_at %></div>
</header>

<main>
  <p><%= @post.body%></p>
</main>

<div>
  코멘트 들어갈 부분
</div>