@import "bootstrap";

body {
  margin: 0;
  background-color: #fbfbfb;
  display: grid;
	grid-template-rows: 57px 80px auto 240px ;
	grid-template-columns: 1fr 5fr 1fr; /*오 이거 좋네*/
  grid-template-areas: 
		"mainhd mainhd mainhd"
    "subhd subhd subhd"
		"nav main ad"
		"nav ft ." ;
  grid-column-gap: 10px;
}

.main-header{ 
  grid-area: mainhd;
}

.sub-header {
  grid-area: subhd;
  background-color: lightgray;
}

main {
  grid-area: main;

  // display: flex; 
  // flex-direction: column;
  background-color: #fbfbfb;
  // justify-content: center;
}

.comment-date {
  font-size: 10px;
  color: gray;
}